[Unit]
Description=Socat VPN Client
After=network-online.target systemd-resolved.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/socat-vpn-client.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
